<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fil d'actu</title>
    <link rel="stylesheet" href="../../public/css/suprmodif.css">
    <link rel="stylesheet" href="../../public/css/menumobile.css">
    <!-- <link rel="stylesheet" href="{{ asset('css/accueil.css') }}"> -->
</head>

<body>
    <header>
        <h3>Symfolio</h3>
        <h3 id="Title">ETUDIANTS</h3>
        <nav>

            <ul id="menu_deroulant">
                <li><a href="#">Se connecter</a></li>
                <li><a href="#">Mon portfolio</a></li>
                <li><a href="#">Fil d'actualité</a></li>
            </ul>
    
            <div class="menu_burger" id="menu_burger"></div>
    
            </div>
        </nav>
    </header>

    
    
    <main>
        <section>
            <article>
                
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>


            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>

            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>
            
            <article>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <h4>Portfolio X</h4>
                <button id="modif">M</button>
                <button id="suppr">S</button>

            </article>
        </section>
    </main>
    <footer><span>ALEXANDRE</span></footer>

    <script src="../../public/js/menumobile.js"></script>
</body>

</html>