@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-family: 'Poppins', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

h3{
    margin: 0;
    
}

nav {
    background-color: rgb(173, 42, 185);
     display: flex;
     justify-content: center;
     align-items: center;
     height: 60px;
 }

main{

    padding-left: 30px;
    padding-right: 30px;

    section{
        h4, h5{
            text-decoration: underline;
        }

        p{
            
        }

        img {
            display: inline-block;
            width: 85vw;
        }
    }
}

footer{
    background-color: #BEAEC6;
    height:50px;
    color: black;
    padding-top: 20px;
    padding-left: 30px;
}

@media screen and (min-width: 900px) {

    main{
        section{
            h4, h5{
                text-decoration: underline;
            }
    
            p{
                
            }
    
            img {
                display: inline-block;
                height: 15vw;
            }
        }
    }


}