<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symfolio - Accueil</title>
    {# <link rel="stylesheet" href="../../public/css/accueil.css"> #}
     <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
</head>

<body>
    <header>
        <h3>Symfolio</h3>
        <a href="{{ url('app_login', {'role': 'etudiant'}) }}">Connexion</a>
    </header>

    <main>
        <section>
            <article>
                <h4>Description de la formation</h4>
                <p>YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI
                    <img src="{{ asset('images/mmi 1.png') }}" alt="Logo MMI"> YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI </p>
               
            </article>

            <article>
                <h4>Les 5 compétences de la formation</h4>
                <p>YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI </p>
            </article>
        </section>

        <section>
            <h5>Niveau moyens des AC:</h3>
            <canvas></canvas>
        </section>

        <section>
            <h5>Portfolio le mieux noté:</h3>
            <!-- section à lier avec symfony -->
        </section>





    </main>
    <footer><span>ALEXANDRE</span></footer>
</body>

</html>