<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fil d'actu</title>
    <link rel="stylesheet" href="../../public/css/filactu.css">
    <!-- <link rel="stylesheet" href="{{ asset('css/accueil.css') }}"> -->
</head>

<body>
    <header>
        <h3>Symfolio</h3>
    </header>

    <main>
        <section>
            <article>
                <h4>Portfolio de {{name}}</h4>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <p>COMMENTAIRE DE L'ETUDIANT ICI</p>
               
            </article>

            <article>
                <h4>Portfolio de {{name}}</h4>
                <figure><img src="" alt="image du pf de l'étudiant"></figure>
                <p>ENCORE UN COM</p>
               
            </article>
        </section>
    </main>
    <footer><span>ALEXANDRE</span></footer>
</body>

</html>