<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fil d'actu</title>
    <link rel="stylesheet" href="../../public/css/profile.css">
    <link rel="stylesheet" href="../../public/css/menumobile.css">
    <!-- <link rel="stylesheet" href="{{ asset('css/accueil.css') }}"> -->
</head>

<body>
    <header>
        <h3>Symfolio</h3>
        <h3 id="Title">ETUDIANTS</h3>
        <nav>

            <ul id="menu_deroulant">
                <li><a href="#">Se connecter</a></li>
                <li><a href="#">Mon portfolio</a></li>
                <li><a href="#">Fil d'actualité</a></li>
            </ul>
    
            <div class="menu_burger" id="menu_burger"></div>
    
            </div>
        </nav>
    </header>

    
    
    <main>
        <section>
            <article>
                <h4>Visuel de votre Portfolio:</h4>
                <div id="f">
                    <div id="bg-img-fp">
                        <img id="image-preview">
                    </div>
                    <div id="centerfile">
                        <input type="file" name="" id="file-input">
                        <label for="file-input" class="custom-file-button">Ajouter une photo</label>
                    </div>
                </div>
                </article>
                <article>
                    <section id="section_visible">
                        <h4 style="width: 50%">Visibilité de mes travaux par les autres</h4>
                        <input type="checkbox" name="visibility_pf" id=""> Oui ou non
                    </section>
                </article>
            <article>
                <h4>Biographie:</h4>
                <input type="textarea" placeholder="Ecrivez quelques lignes..."></input>

            </article>
            <section>
                <input type="submit" value="Modifier">
            </section>
        </section>
    </main>
    <footer><span>ALEXANDRE</span></footer>

    <script src="../../public/js/menumobile.js"></script>
    <script src="../../public/js/filereaderpreview.js"></script>
</body>

</html>