<head>
<title>Symfolio - Ajouter un IUT</title>
</head>
<h1>Ajouter un IUT</h1>
{{ form_start(iutForm) }}
        {{ form_row(iutForm.nom) }}
        <button type="submit" class="btn">Ajouter l'IUT</button>
{{ form_end(iutForm) }}