<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src={{ asset('js/angular.min.js') }}></script>
        <script src={{ asset('js/profilJS.js') }}></script>
        <title>Symfolio - Profil</title>
    </head>
    <body>
    {% block javascripts %}
        <script>
            var initData = {{ data|json_encode|raw }};
        </script>
    {% endblock %}
    <h1 ng-bind="donnee">{{ donnee["foo"] }}</h1>
    {# <div ng-repeat="dataa in data" ng-bind="dataa"></div> #}
    </body>
</html>